.contact-header {
  display: table;
  width: 100%;
  height:100vh;
  padding: 100px 0;
  /*background-image: url('..img/WEBSITE/Portraiture_Art/Film/F1000017_1900_contactbackground.jpg');*/
  background: url('../img/WEBSITE/Portraiture_Art/Film/F1000017_1900_contactbackground_filter.jpg') no-repeat bottom center scroll;
  /*background-color: #252120;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.about-header {
  display: table;
  width: 100%;
  height:100vh;
  padding: 100px 0;
  /*background-image: url('..img/WEBSITE/Portraiture_Art/Film/F1000017_1900_contactbackground.jpg');*/
  background: url('../img/WEBSITE/Portraiture_Art/Film/F1000017_1900_contactbackground_filter.jpg') no-repeat bottom center scroll;
  /*background-color: #252120;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.contact-header-text {
  /*height:100%;*/
  /*background-color: #222;*/
  /*border-color: #080808;*/
  /*opacity: .9;*/
}

/*New 1 9 2017 */
.inverse-dropdown{
  color: #9d9d9d;
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
}



.dropdown-content {
  display: none;
  position:absolute;
  z-index: 100;
  background-color: #222;
  border-style: solid;
  border-color: #080808;
  border-width: 1px 0px 0px 0px;
}

/*.dropdown-content + a {
  margin: 110px;
}*/

.dropdown-content-link {
  display: block;
  background-color: #222;
  border-style: solid;
  /*border-color: #080808;*/
  opacity: .9; /*jf edit*/
  border-color: #080808;
  border-width: 0px 1px 1px 1px;
  min-width: 84px;
  padding: 5px 10px 5px 10px;
}

/*ul {
  list-style: none;
}*/

.dropbtn:hover + .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

/*jf added 1/20/17*/
.paragraph-text {
  font-size: 16px;
}

/*jf added 2/23/17*/
.paragraph-div {
  background-color: rgba(34, 34, 34, 0.7);
  /*background-color: #222;
  opacity: .5;*/
}
.text-only-page {
  margin-top: 30vh;
}
a.text-link {
  color:#ffe6cc;
}
